extends layout

block content
  #checkbox-list
    label
      input(type='checkbox', name='box0', id = 'box0', checked='checked')
      span(id='label0')
    label
      input(type='checkbox', name='box1', id = 'box1', checked='checked')
      span(id='label1')
    label
      input(type='checkbox', name='box2', id = 'box2', checked='checked')
      span(id='label2')
    label
      input(type='checkbox', name='box3', id = 'box3', checked='checked')
      span(id='label3')
    label
      input(type='checkbox', name='box4', id = 'box4', checked='checked')
      span(id='label4')
  ul(id="tag-list")
    li(id="tag0")
    li(id="tag1")
    li(id="tag2")
    li(id="tag3")
    li(id="tag4")
  #chartContainer