extends layout

block content
  h1 Top 5 Hashtags Over the Last 24 Hours
  #checkbox-list
    label
      input(type='checkbox', name='box0', id = 'box0', checked='checked')
      span(id='label0')
    label
      input(type='checkbox', name='box1', id = 'box1', checked='checked')
      span(id='label1')
    label
      input(type='checkbox', name='box2', id = 'box2', checked='checked')
      span(id='label2')
    label
      input(type='checkbox', name='box3', id = 'box3', checked='checked')
      span(id='label3')
    label
      input(type='checkbox', name='box4', id = 'box4', checked='checked')
      span(id='label4')
    label
      input(type='checkbox', name='box5', id = 'box5', checked='checked')
      span(id='label5')
  #chartContainer
