extends layout

block content
  a(href="/")
    .globe-button
      img(src="http://png-4.findicons.com/files/icons/984/misto/128/globe_disconnected.png")
  h1(class='graph-title') Top Hashtags
  #chartContainer
  #checkbox-list
    #top-three
      .hashtag-label.label0
        span 1.
        span(id='label0')
      .hashtag-label.label1.faded
        span 2.
        span(id='label1')
      .hashtag-label.label2.faded
        span 3.
        span(id='label2')
    #bottom-three
      .hashtag-label.label3.faded
        span 4.
        span(id='label3')
      .hashtag-label.label4.faded
        span 5.
        span(id='label4')
      .hashtag-label.label5.faded
        span 6.
        span(id='label5')
  link(rel="stylesheet" href="/stylesheets/graph-styles.css")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/line_chart/chart_view.js")
  script(src="/javascripts/line_chart/checkbox_view.js")
  script(src="/javascripts/line_chart/chart_model.js")
  script(src="/javascripts/line_chart/chart_controller.js")
  script(src='/javascripts/canvasjs.min.js')
