extends layout

block content
  h1(class='graph-title') Top 5 Hashtags Over the Last 24 Hours
  #chartContainer
  #checkbox-list
    #top-three
      .hashtag-label.label0
        span 1.
        span(id='label0')
      .hashtag-label.label1
        span 2.
        span(id='label1')
      .hashtag-label.label2
        span 3.
        span(id='label2')
    #bottom-three
      .hashtag-label.label3
        span 4.
        span(id='label3')
      .hashtag-label.label4
        span 5.
        span(id='label4')
      .hashtag-label.label5
        span 6.
        span(id='label5')
  link(rel="stylesheet" href="/stylesheets/graph-styles.css")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/line_chart/chart_view.js")
  script(src="/javascripts/line_chart/checkbox_view.js")
  script(src="/javascripts/line_chart/chart_model.js")
  script(src="/javascripts/line_chart/chart_controller.js")
  script(src='/javascripts/canvasjs.min.js')
