doctype html
html
  head
    title= "#HiveMind"
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')


  body
    block content
