doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/web.js')
    script(src='/javascripts/canvas.js')
    script(src='/socket.io/socket.io.js')
