doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/javascripts/web.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/canvasjs.min.js')
    script(src='/javascripts/canvas.js')

  body
    block content
