html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #000000 url(/images/globe-loading.gif) center center no-repeat;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  height: 100%;
}

.tweetCount {
  font-family: 'Georgia';
  font-size: 40px;
  margin-bottom: 15px
}

.tweetCountContainer {
  position:absolute;
  left: 20px;
  top: 20px;
  
}

.tweetCountDescription {
  position: absolute;
  top: 80px;
  left:20px;
  width:100px;
  display:none;
}

.hashtagCountContainer {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: left;
}

.hashtagCount {
  font-family: "Georgia";
  font-size: 40px;
  margin-bottom:15px;
}

.hashtagCountText {
  text-align: right;
}

.hashtagCountDescription {
  position: absolute;
  top: 80px;
  right:20px;
  width:100px;
  display:none;
  text-align:right;
}

#info {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
  right: 10px;
  padding: 10px;

}

#watching {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 45%;
  left: 50px;
  min-width: 125px;
  color:#aaa;
  padding:5px;
  width: 15%;
  line-height: 220%;
}

#what {
  color:#aaa;
  font-size: 18px;
}

#what:hover {
  color:white;
}

#explanation {
  color:white;
  display:none;
  font-size:25px;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color:white;
}

#ce span {
  display: none;
}

#ce {
  width: 107px;
  height: 55px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url(/images/globe-ce.png);
}

#ce:hover {
  color:white;
}

#basic-info {
  font-size: 40px;
}

#info-list {
  font-family: georgia;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
}

#github-link {
  height:30px;
}

#github-link img {
  height: 100%;
  float:right;
}
