#checkbox-list{
  margin-top: 450px;
  width: 100%;
}

#top-three{
  width: 45%;
  display: inline-block;
}

#bottom-three{
  width: 45%;
  display: inline-block;
}

.hashtag-label {
  font-size: 23px;
  font-family: sans-serif;
  color: green;
  padding: 3px;
}

.hashtag-label:hover {
  font-size: 25px;
  cursor: pointer;
}

.graph-title {
  color: white;
  text-align: center;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.label0 {
  color: #4099FF;
}

.label1 {
  color: #87DBFA;
}

.label2 {
  color: #BCDBFD;
}

.label3 {
  color: #4F7EB3;
}

.label4 {
  color: #87CACF;
}

.label5 {
  color: #66FFFF;
}

.faded {
  color: #292B2B;
}

