body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

#chartContainer{
  width: 80%;
  margin: auto;
}

#checkbox-list{
  margin: auto;
  margin-top: 450px;
  width: 60%;
}

#top-three{
  width: 40%;
  display: inline-block;
  padding-left: 80px;
}

#bottom-three{
  width: 40%;
  display: inline-block;
  padding-left: 80px;
}

.hashtag-label {
  font-size: 23px;
  font-family: sans-serif;
  color: green;
  padding: 3px;
}

.hashtag-label:hover {
  font-size: 25px;
  cursor: pointer;
}

.globe-button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;

}

.globe-button img {
  height: 100%
}

.graph-title {
  color: white;
  text-align: center;
}

.label0 {
  color: #4099FF;
}

.label1 {
  color: #87DBFA;
}

.label2 {
  color: #BCDBFD;
}

.label3 {
  color: #4F7EB3;
}

.label4 {
  color: #87CACF;
}

.label5 {
  color: #66FFFF;
}

.faded {
  color: #292B2B;
}

